<div id="business-place" v-cloak>
    <div class="container">
        <div class="page__sub-title">
            <button class="btn btn-outline-info mr-10 back-left" onclick="history.back()"><%= i18n("Back") %></button>
            <%= i18n("Business Places") %>
            <% if(isSuperAdmin){ %>
                <button class="btn btn-outline-info ml-auto float-right" @click="onAddNew()"><%= i18n("Add") %></button>
            <% } %>
        </div>
        <table style="width: 100%;">
            <thead>
            <th>ID</th>
            <th><%= i18n("Name") %></th>
            <th><%= i18n("Description") %></th>
            <th><%= i18n("Legal Address") %></th>
            <th><%= i18n("Physical Address") %></th>
            <% if(isSuperAdmin){ %>
                <th></th>
            <% } %>
            </thead>
            <tbody>

            <% items.forEach(function(item){ %>
            <tr>

                <td><%= item.id %></td>
                <td title="<%= item.name %>"><a href="/place/<%= item.id %>"><%= item.name %></a></td>
                <td title="<%= item.description %>"><%= item.description %></td>
                <td :title="getAddressView(<%= JSON.stringify(item.legalAddress) %>)">
                    {{ getAddressView(<%= JSON.stringify(item.legalAddress) %>) }}
                </td>
                <td :title="getAddressView(<%= JSON.stringify(item.physicalAddress) %>)">
                    {{ getAddressView(<%= JSON.stringify(item.physicalAddress) %>) }}
                </td>

                <% if(isSuperAdmin){ %>
                    <td>
                        <div class="manage_buttons-wrapper">
                            <button class="btn btn-outline-info ml-2" @click="onEdit(<%= JSON.stringify(item) %>)"><%= i18n("Edit") %></button>
                            <button class="btn btn-outline-danger ml-2" @click="remove(<%= item.id %>)"><%= i18n("Remove") %></button>

                        </div>
                    </td>
                <% } %>
                <% }); %>
            </tr>
            </tbody>
        </table>
    </div>
    <modal class="example-modal" v-if="modal==='edit-modal'" @close="closeExampleModal()" v-cloak>
        <div class="modal-header">
            <h2 class="modal-title"><%= i18n("Business Place") %></h2>
            <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="edit-place">
                <div class="form-group">
                    <strong><%= i18n("Name") %>:</strong>
                    <input name="name" class="form-control" :class="[formErrors.fullName ? 'is-invalid' : '']"
                           v-model.trim="formData.name">
                    <div class="invalid-feedback" v-if="formErrors.fullName"><%= i18n("Please enter a valid Full Name") %></div>
                </div>
                <div class="form-group">
                    <strong><%= i18n("Description") %>:</strong>
                    <textarea name="description" class="form-control" :class="[formErrors.fullName ? 'is-invalid' : '']"
                              v-model.trim="formData.description">
                    </textarea>
                    <div class="invalid-feedback" v-if="formErrors.fullName"><%= i18n("Please enter a valid Description") %></div>
                </div>

                <h5 class="section-heading"><%= i18n("Legal Address") %></h5>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <strong><%= i18n("Country") %>:</strong>
                            <input name="legal-country" class="form-control" :class="[formErrors.legalAddress ? 'is-invalid' : '']"
                                   v-on:input="onEditDeepField(formData, 'legalAddress', 'country', $event.target.value)"
                                   v-bind:value="formData.legalAddress && formData.legalAddress.country">
                            <div class="invalid-feedback" v-if="formErrors.legalAddress"><%= i18n("Please enter a valid Country") %></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <strong><%= i18n("City") %>:</strong>
                            <input name="city" class="form-control" :class="[formErrors.legalAddress ? 'is-invalid' : '']"       
                                    v-on:input="onEditDeepField(formData, 'legalAddress', 'city', $event.target.value)"
                                    v-bind:value="formData.legalAddress && formData.legalAddress.city">
                            <div class="invalid-feedback" v-if="formErrors.legalAddress"><%= i18n("Please enter a valid City") %></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <strong><%= i18n("Address") %>:</strong>
                    <input name="address1" class="form-control" :class="[formErrors.legalAddress ? 'is-invalid' : '']"
                           v-on:input="onEditDeepField(formData, 'legalAddress', 'address1', $event.target.value)"
                           v-bind:value="formData.legalAddress && formData.legalAddress.address1">
                    <div class="invalid-feedback" v-if="formErrors.legalAddress"><%= i18n("Please enter a valid Address") %></div>

                </div>
                <div class="form-group">
                    <strong><%= i18n("Second Address") %>:</strong>
                    <input name="address2" class="form-control" :class="[formErrors.address ? 'is-invalid' : '']"
                           v-on:input="onEditDeepField(formData, 'legalAddress', 'address2', $event.target.value)"
                           v-bind:value="formData.address && formData.address.address2">
                    <div class="invalid-feedback" v-if="formErrors.address"><%= i18n("Please enter a valid Second Address") %></div>
                </div>

                <h5 class="section-heading"><%= i18n("Physical Address") %></h5>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <strong>Country:</strong>
                            <input name="legal-country" class="form-control" :class="[formErrors.physicalAddress ? 'is-invalid' : '']"
                                v-on:input="onEditDeepField(formData, 'physicalAddress', 'country', $event.target.value)"
                                v-bind:value="formData.physicalAddress && formData.physicalAddress.country">
                            <div class="invalid-feedback" v-if="formErrors.physicalAddress"><%= i18n("Please enter a valid Country") %></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <strong>City:</strong>
                            <input name="city" class="form-control" :class="[formErrors.physicalAddress ? 'is-invalid' : '']"
                                v-on:input="onEditDeepField(formData, 'physicalAddress', 'city', $event.target.value)"
                                v-bind:value="formData.physicalAddress && formData.physicalAddress.city">
                            <div class="invalid-feedback" v-if="formErrors.physicalAddress"><%= i18n("Please enter a valid City") %></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <strong>Address:</strong>
                    <input name="address1" class="form-control" :class="[formErrors.physicalAddress ? 'is-invalid' : '']"
                            v-on:input="onEditDeepField(formData, 'physicalAddress', 'address1', $event.target.value)"
                            v-bind:value="formData.physicalAddress && formData.physicalAddress.address1">
                    <div class="invalid-feedback" v-if="formErrors.physicalAddress"><%= i18n("Please enter a valid Address") %></div>
                </div>
                <div class="form-group">
                    <strong>Second Address:</strong>
                    <input name="address2" class="form-control" :class="[formErrors.address ? 'is-invalid' : '']"
                            v-on:input="onEditDeepField(formData, 'physicalAddress', 'address2', $event.target.value)"
                            v-bind:value="formData.address && formData.address.address2">
                    <div class="invalid-feedback" v-if="formErrors.address"><%= i18n("Please enter a valid Second Address") %></div>
                </div>

                <p class="text-danger" v-if="cloudError"><%= i18n("An error occurred") %></p>
            </form>
        </div>
        <div class="modal-footer flex-row-reverse justify-content-between">
            <button type="button" class="btn btn-outline-success ml-2 float-right" @click="formSubmit($event)"><%= i18n("Save") %></button>
            <button type="button" data-dismiss="modal" class="btn btn-outline-dark ml-2 float-left" @click="onCancel()"><%= i18n("Cancel") %></button>
        </div>
    </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
