<div id="groups" v-cloak>
  <div class="container">
    <div class="page__sub-title">
      <button class="btn btn-outline-info mr-10 back-left" onclick="history.back()">Back</button>
      Groups Dictionary
      <% if(businessPlace){ %>
        for <%= businessPlace.name %>
      <% } %>
      <% if(isSuperAdmin){ %>
        <button class="btn btn-outline-info ml-2 float-right" @click="onAddNew()">Add</button>
      <% } %>
    </div>
    <table style="width: 100%;">
      <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Business Place</th>
      <% if(isSuperAdmin){ %>
        <th></th>
      <% } %>
      </thead>
      <tbody>

      <tr v-if="isAddNew">
        <td></td>
        <td>
          <input class="form-control" v-model.trim="newItemData.name"/>
        </td>
        <td>
          <input class="form-control" v-model.trim="newItemData.description"/>
        </td>
        <td>
          <select v-model="newItemData.businessPlace" class="custom-select">
            <option v-for="place in <%= JSON.stringify(businessPlaces) %>" v-bind:value="place">{{place.name}}</option>
          </select>
        </td>

        <td>
          <div class="manage_buttons-wrapper">
            <button class="btn btn-outline-info ml-2" @click="save()">Save</button>
            <button class="btn btn-outline-dark ml-2" @click="onCancel()">Cancel</button>
          </div>
        </td>
      </tr>

      <% groups.forEach(function(group){ %>
      <tr>
        <template v-if="typeof this.editableItemsMap[<%= group.id %>] !== 'object'">
          <td><%= group.id %></td>
          <td><%= group.name %></td>
          <td><%= group.description %></td>
          <td><%= group.businessPlace && group.businessPlace.name %></td>
        </template>
        <template v-else>
          <td></td>
          <td>
            <input class="form-control" v-model.trim="editableItemsMap[<%= group.id %>].name"/>
          </td>
          <td>
            <input class="form-control" v-model.trim="editableItemsMap[<%= group.id %>].description"/>
          </td>
          <td>
            <select v-model="editableItemsMap[<%= group.id %>].businessPlace" class="custom-select">
              <option v-for="place in <%= JSON.stringify(businessPlaces) %>" v-bind:value="place">{{place.name}}</option>
            </select>
          </td>
        </template>

        <% if(isSuperAdmin){ %>
          <td>
            <div class="manage_buttons-wrapper">
              <template v-if="typeof editableItemsMap[<%= group.id %>] !== 'object'">
                <button class="btn btn-outline-info ml-2" @click="onEdit(<%= JSON.stringify(group) %>)">Edit</button>
                <button class="btn btn-outline-danger ml-2" @click="remove(<%= group.id %>)">Remove</button>
              </template>
              <template v-else>
                <button class="btn btn-outline-success ml-2" @click="update(<%= group.id %>)">Save</button>
                <button class="btn btn-outline-dark ml-2" @click="onCancel(<%= group.id %>)">Cancel</button>
              </template>
            </div>
          </td>
        <% } %>
        <% }); %>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

