<div id="marks" v-cloak>

  <div class="container">
    <div class="page__sub-title">
      <button class="btn btn-outline-info mr-10 back-left" onclick="history.back()"><%= i18n("Back") %></button>
      <%= i18n("Marks") %>
      <% if(isSuperAdmin){ %>
        <button class="btn btn-outline-info ml-2 float-right" @click="onAddNew()"><%= i18n("Add") %></button>
      <% } %>
    </div>
    <table style="width: 100%;">
      <thead>
      <th>ID</th>
      <th><%= i18n("Name") %></th>
      <th><%= i18n("Weight") %></th>
      <th><%= i18n("Description") %></th>
      <% if(isSuperAdmin){ %>
        <th></th>
      <% } %>
      </thead>
      <tbody>

      <tr v-if="isAddNew">
        <td></td>
        <td>
          <input class="form-control" v-model.trim="newItemData.name"/>
        </td>
        <td>
          <input class="form-control" v-model.trim="newItemData.weight"/>
        </td>
        <td>
          <input class="form-control" v-model.trim="newItemData.description"/>
        </td>
        <td>
          <div class="manage_buttons-wrapper">
            <button class="btn btn-outline-info ml-2" @click="save()"><%= i18n("Save") %></button>
            <button class="btn btn-outline-dark ml-2" @click="onCancel()"><%= i18n("Cancel") %></button>
          </div>
        </td>
      </tr>

      <% marks.forEach(function(mark){ %>
      <tr>
        <template v-if="typeof this.editableItemsMap[<%= mark.id %>] !== 'object'">
          <td><%= mark.id %></td>
          <td><%= mark.name %></td>
          <td><%= mark.weight %></td>
          <td><%= mark.description %></td>
        </template>
        <template v-else>
          <td></td>
          <td>
            <input class="form-control" v-model.trim="editableItemsMap[<%= mark.id %>].name"/>
          </td>
          <td>
            <input class="form-control" v-model.trim="editableItemsMap[<%= mark.id %>].weight"/>
          </td>
          <td>
            <input class="form-control" v-model.trim="editableItemsMap[<%= mark.id %>].description"/>
          </td>
        </template>

        <% if(isSuperAdmin){ %>
          <td>
            <div class="manage_buttons-wrapper">
              <template v-if="typeof editableItemsMap[<%= mark.id %>] !== 'object'">
                <button class="btn btn-outline-info ml-2" @click="onEdit(<%= JSON.stringify(mark) %>)"><%= i18n("Edit") %></button>
                <button class="btn btn-outline-danger ml-2" @click="remove(<%= mark.id %>)"><%= i18n("Remove") %></button>
              </template>
              <template v-else>
                <button class="btn btn-outline-success ml-2" @click="update(<%= mark.id %>)"><%= i18n("Save") %></button>
                <button class="btn btn-outline-dark ml-2" @click="onCancel(<%= mark.id %>)"><%= i18n("Cancel") %></button>
              </template>
            </div>
          </td>
        <% } %>
        <% }); %>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
