<div id="roles" v-cloak>
    <div class="container">
        <div class="page__sub-title">
            Roles Dictionary
            <% if(isSuperAdmin){ %>
                <button class="btn btn-outline-info ml-2 float-right" @click="onAddNew()">Add</button>
            <% } %>
        </div>
        <table style="width: 100%;">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <% if(isSuperAdmin){ %>
                <th></th>
            <% } %>
            </thead>
            <tbody>

            <tr v-if="isAddNew">
                <td></td>
                <td>
                    <input class="form-control" v-model.trim="newItemData.name"/>
                </td>
                <td>
                    <input class="form-control" v-model.trim="newItemData.description"/>
                </td>

                <td>
                    <div class="manage_buttons-wrapper">
                        <button class="btn btn-outline-info ml-2" @click="save()">Save</button>
                        <button class="btn btn-outline-dark ml-2" @click="onCancel()">Cancel</button>
                    </div>
                </td>
            </tr>

            <% roles.forEach(function(role){ %>
            <tr>
                <template v-if="typeof this.editableItemsMap[<%= role.id %>] !== 'object'">
                    <td><%= role.id %></td>
                    <td><%= role.name %></td>
                    <td><%= role.description %></td>
                </template>
                <template v-else>
                    <td></td>
                    <td>
                        <input class="form-control" v-model.trim="editableItemsMap[<%= role.id %>].name"/>
                    </td>
                    <td>
                        <input class="form-control" v-model.trim="editableItemsMap[<%= role.id %>].description"/>
                    </td>
                </template>

                <% if(isSuperAdmin){ %>
                    <td>
                        <div class="manage_buttons-wrapper">
                            <template v-if="typeof editableItemsMap[<%= role.id %>] !== 'object'">
                                <button class="btn btn-outline-info ml-2" @click="onEdit(<%= JSON.stringify(role) %>)">Edit</button>
                                <button class="btn btn-outline-danger ml-2" @click="remove(<%= role.id %>)">Remove</button>
                            </template>
                            <template v-else>
                                <button class="btn btn-outline-success ml-2" @click="update(<%= role.id %>)">Save</button>
                                <button class="btn btn-outline-dark ml-2" @click="onCancel(<%= role.id %>)">Cancel</button>
                            </template>
                        </div>
                    </td>
                <% } %>
                <% }); %>
            </tr>
            </tbody>
        </table>
        <div class="page__footer-title">
            <button class="btn btn-outline-info ml-2 float-leaft" onclick="history.back()">Back</button>
        </div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
